/*========================================================================
  Header
/*=======================================================================*/
/* Header Image */
.theHeader .imgContainer .headerIMG {
  display: block;
  width: 30%;
  margin: 0 auto;
}
/* Header Navigation bar */
.theHeader .navBar {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  position: relative;
}
.theHeader .navBar .menuItem {
  list-style-type: none;
  width: max-content;
}
.theHeader .navBar .menuItem .link.current {
  text-decoration: underline;
}
/* Add a divider after each menu item except the last one. */
.theHeader .navBar .menuItem:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  top: 10px;
  margin-left: 9px;
  background-color: rgb(107, 100, 100);
}
/* Media query to optimise for mobile viewing. */
@media (max-width: 1000px) {
  .theHeader .navBar {
    display: block;
  }
  .theHeader .navBar .menuItem {
    text-align: center;
    margin: 0 auto;
  }
  .theHeader .navBar .menuItem:not(:last-child)::after {
    display: none;
  }
}
/*========================================================================
  Footer
/*=======================================================================*/
html
  .elementor-column-gap-default
  > .elementor-column
  > .elementor-element-populated {
  padding: 0px;
}
.FooterContainer {
  display: flex;
}
.footerBox1,
.footerBox2,
.footerBox3 {
  width: 33.3%;
  float: left;
  align-self: center;
  padding: 25px 0;
}
.footerBox1 p,
.footerBox1 a,
.footerBox2 p,
.footerBox3 p {
  text-align: center;
}
.footerBox1 {
  display: flex;
}
.footerBox1 a {
  align-self: center;
  width: 100%;
}
.footerBox2::before {
  content: "Social Media";
  font-weight: bold;
  font-size: 22px;
  margin: 0 auto;
  position: relative;
  left: calc(50% - 65px);
  top: -10px;
}
/* Social media icons in footer */
.iconBox {
  display: grid;
  width: min-content;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.iconContainer {
  position: relative;
  width: 90px;
  height: 90px;
  background-color: #fff;
  border: 2px solid rgb(218, 196, 196);
  overflow: hidden;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
  transform-style: preserve-3d;
}
.iconContainer::after {
  content: "";
  position: absolute;
  background-color: #00bbff;
  bottom: -100px;

  width: 95px;
  height: 95px;
  z-index: 9;

  transition: all 0.6s ease;
}
.iconContainer:last-child::after {
  background-color: #c13584;
}
.iconContainer:nth-child(2)::after {
  background-color: #1877f2;
}
.iconContainer:nth-child(3)::after {
  background-color: #ec43a2;
}
.iconContainer:nth-child(4)::after {
  background-color: #ea4335;
}
.iconContainer:hover::after {
  bottom: 0px;
}
.icon {
  border-radius: 50%;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
}
.icon i {
  font-size: 60px;
  transition: transform 0.6s ease;
  z-index: 10;
  align-self: center;
  display: flex;
  margin: 0 auto;
}
/* Rotate icons on hover */
.iconContainer:hover i {
  transform: rotateX(10deg) rotateY(360deg) rotateZ(10deg);
}
@media (max-width: 1200px) {
  .FooterContainer {
    display: grid;
  }
  .footerBox1,
  .footerBox2,
  .footerBox3 {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .iconBox {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*========================================================================
  Login/Registration
/*=======================================================================*/

#wppb-loginform .login-username,
#wppb-loginform .login-password,
#wppb-register-user ul li {
  display: grid;
}

.wppb-form-field label,
#wppb-login-wrap .login-username label,
#wppb-login-wrap .login-password label,
#wppb-login-wrap .login-auth label.user_login {
  width: fit-content !important;
}

#elementor-tab-title-1141,
#elementor-tab-title-1142 {
  color: grey;
}

.elementor-widget-tabs.elementor-tabs-view-horizontal
  .elementor-tab-desktop-title.elementor-active {
  border-radius: 20px 20px 0 0;
}
#elementor-tab-content-1142,
#elementor-tab-content-1141 {
  border-radius: 0 0 20px 20px;
}

.elementor-widget-tabs .elementor-tabs-wrapper {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
}

.footer-top-visible .footer-nav-widgets-wrapper {
  max-height: 100px;
}

.header-footer-group pre,
.header-footer-group fieldset,
.header-footer-group input,
.header-footer-group textarea,
.header-footer-group table,
.header-footer-group table *,
.footer-nav-widgets-wrapper,
#site-footer,
.menu-modal nav *,
.footer-widgets-outer-wrapper,
.footer-top {
  border-color: transparent !important;
}

#post-8 .post-inner .entry-content p {
  padding: 10px;
  border-radius: 20px;
  background-color: blue;
  color: white;
}

/*========================================================================
  Activiteiten overzicht
/*=======================================================================*/
.boxx {
  max-width: 1080px !important;
  text-align: left;
  color: #666;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  font-family: Open Sans, Arial, sans-serif;
  line-height: 3px;
  margin-top: 20px !important;
}
.boxx::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 30%;
  background: #666;
}
.post-inner .entry-content .Activiteiten {
  max-width: 1080px !important;
  margin: 0 auto !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px !important;
}
.Activiteiten .Activiteit {
  text-align: center;
  padding: 20px;
  background-color: #dde2eb;
  border: 2px solid #a5a6a8;
  border-radius: 20px;
  max-width: 80%;
  display: grid;
}
.actForm {
  display: grid;
}
.ActButton {
  align-self: flex-end;
}
.Activiteiten .Activiteit .title {
  margin: 0;
}
.Activiteiten .Activiteit .dateTime {
  padding: 0;
  margin: 5px 0 0px 0;
  font-weight: bold;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 16px;
  color: #606770;
}
.Activiteiten .Activiteit .description {
  margin: 15px 0px;
  font-size: 14px;
  font-family: Open Sans, Arial, sans-serif;
}
.bar {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}
.actForm.single {
  display: grid;
  width: 30%;
  margin: 0 auto;
}
.datee {
  margin: 0;
  padding: 0;
}
.entry-header.has-text-align-center.header-footer-group {
  padding-bottom: 0px !important;
}
.entry-content {
  text-align: center !important;
}
@media (max-width: 3000px) {
  .post-inner .entry-content .Activiteiten {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .post-inner .entry-content .Activiteiten {
    grid-template-columns: repeat(1, 1fr);
  }
  .Activiteiten .Activiteit {
    max-width: 100%;
  }
}
/*========================================================================
  Deelnemers Overzicht
/*=======================================================================*/

/*========================================================================
  Misc
/*=======================================================================*/
/* Back to top button. */
.top {
  float: right;
  position: fixed;
  z-index: 100;
  bottom: 15px;
  right: 15px;
  font-size: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #1d1e22;
  border: 2px solid #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
